<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>REGISTER | HLCS</title>
    <%- include('components/font'); %>
    <style>
        html{
            background-color: #eee;
        }
        input{
            border-radius: 5px;
            border: 1px solid #ccc;
            padding: 10px;
            width: 300px;
        }
    </style>
</head>
<body>
    <form action="/accounts/register" method="post" class="center">
        <h1>HLCS Presence</h1>
        <input type="text" name="username" placeholder="Username">
        <input type="password" name="password" placeholder="Password">
        <input type="submit" value="Registrati" style="margin-top:10px;background:#3276b1">
    </form>
</body>
</html>